body {
    margin: 0;
}

nav {
    background-color: rgb(226, 226, 226);
    height: 3rem;

} 


img {
    max-width: 90%;
    max-height: 80%;
    padding-top: .3rem;
    padding-left: 1em;
}

button {
    max-width: 90%;
    max-height: 80%;

}